<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Dashboard</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.css"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        #openSidebarBtn {
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            left: 20px;
            top: 20px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    </style>
</head>
<body>
    
    <div id="mySidebar" class="sidebar">
      <li ng-repeat="panel in panels">
         <i class=" {{panel.icon}}"></i>
        <a href="" ng-click="handleHeadingClick(panel.id)">{{panel.heading}}</a>
</li>
    </div>

      
    <div id="main">
        <span id="openSidebarBtn" ng-click="openSidebar()">&#9776;</span>
        <h1 style="text-align: center; margin-top: 30px">{{pageTitle}}</h1>
        <div ng-show="showDashboardContent">
          <h1>Doctor Details</h1>
    
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Username: </th>
                <th scope="col">Firstname:</th>
                <th scope="col">Lastname:</th>
                <th scope="col">Gender:</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="doctor in doctors">
                <td>{{ doctor.username }}</td>
                <td>{{ doctor.firstname }}</td>
                <td>{{ doctor.lastname }}</td>
                <td>{{ doctor.gender }}</td>
              </tr>
            </tbody>
          </table>
             </div>
            </div>
        </div>
        <div ng-show="showAppointmentsContent" style="margin-left: 100px; " >
          <br>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Appointment ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Age</th>
                <th scope="col">Problem</th>
                <th scope="col">Gender</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="appointment in appointments">
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.firstname }}</td>
                <td>{{ appointment.lastname }}</td>
                <td>{{ appointment.age }}</td>
                <td>{{ appointment.problem }}</td>
                <td>{{ appointment.gender }}</td>
                <td>
                  
                  <button type="button" class="btn btn-dark" ng-click="deleteAppointment(appointment.id)">Delete</button>
                  <button type="button" class="btn btn-dark" ng-click="editAppointment(appointment.id)">Edit</button>

                   
                 
                   
                    <button type="button" onclick="document.getElementById('id01').style.display='block'" class="btn btn-dark" ng-click="Prescription(appointment.id)()">Prescription</button>
                  
                    <div id="id01" class="w3-modal">
                      <div class="w3-modal-content w3-card-4" style="width: 1100px;">
                        <header class="modal-header"> 
                          <span onclick="document.getElementById('id01').style.display='none'" 
                          class="w3-button w3-display-topright">&times;</span> 
                        </header><br>
                        <h3 style="margin-left: 30px;"><b>Patient's Details</b></h3>
                          <div style="display: flex;">
                        <div style="margin-left: 30px;" ng-repeat="prescription in prescriptions">
                          <label>Appointment ID:</label> <input style="width:300px" class="form-control"  value="{{prescription.id}}"  placeholder="Enter ID"><br>
                          <label>FirstName:</label><input type="text" style="width:300px" class="form-control"  value="{{prescription.firstname}}"  placeholder="Enter Firstname"><br>
                          <label>LastName:</label><input type="text" style="width:300px" class="form-control"  value="{{prescription.lastname}}"  placeholder="Enter LastName"><br>
                          <label>Age:</label><input type="text" style="width:300px" class="form-control"  value="{{prescription.age}}"  placeholder="Enter Age"><br>
                          <label>Gender:</label><input type="text" style="width:300px" class="form-control"  value="{{prescription.gender}}"  placeholder="Enter Gender">
                          </div>
                        <div class="w3-container">
                          <table>
                            <thead>
                                <tr>
                                    <th>Medicine</th>
                                    <th>Dose</th>
                                    <th>Instructions</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="med in medicines">
                                    <td><input style="width:200px" class="form-control" type="text" ng-model="med.name" /></td>
                                    <td><input style="width:200px" class="form-control"  type="text" ng-model="med.dose" /></td>
                                    <td><input style="width:200px" class="form-control"  type="text" ng-model="med.instructions" /></td>
                                    <td><button class="btn btn-dark" ng-click="removeMedicine($index)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-dark" ng-click="addMedicine()">Add Medicine</button>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" ng-click="Submit(appointment.id)()" style="margin-left: 500px; " class="btn btn-dark">Submit</button>
                        </div><br>
                      </div>
                    </div>
                  
                   
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-dark" ng-click="addAppointment(appointment.id)">Add Appointment</button>  
        </div>
          
<div ng-show="showPatientsContent" style="margin-left: 50px; margin-right:50px ;"> 
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username: </th>
        <th scope="col">Firstname:</th>
        <th scope="col">Lastname:</th>
        <th scope="col">Gender:</th>
        <th scope="col">Age:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in peopleData">
        <td>{{ person.username }}</td>
        <td>{{ person.firstname }}</td>
        <td>{{ person.lastname }}</td>
        <td>{{ person.gender }}</td>
        <td>{{person.Age}}</td>
      </tr>
    </tbody>
  </table>
</div>
      

 
</body>
</html>
