<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Dashboard</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.css"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      body{
        background-color: #9f8ff2;

      }
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        #openSidebarBtn {
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            left: 20px;
            top: 20px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
        #image{
          margin-left: 670px;
          margin-top: -400px;
        }
    </style>
</head>
<body>
    
    <div id="mySidebar" style="background-color: #3b227a" class="sidebar">
      <li ng-repeat="panel in panels">
         <i class=" {{panel.icon}}"></i>
        <a href="" style="color: white" ng-click="handleHeadingClick(panel.id)">{{panel.heading}}</a>
</li>
    </div>

      
    <div id="main">
        <span id="openSidebarBtn" style="color: #3b227a" ng-click="openSidebar()">&#9776;</span>
        <h1 style="text-align: center; margin-top: 30px;color:#3b227a">{{pageTitle}}</h1>
        <div ng-show="showDashboardContent" style="background-color: white; border-radius: 25px; margin-top: 90px; width: 970px; margin-left: 120px;">
          <div ng-repeat="doctor in doctors" style="margin-left: 60px; margin-top: 70px;">
            <h1
            style="
              margin-top: 50px;
              
              font-size: 35px;
              color: #3b227a;
            "
          >
            Welcome ,Dr. {{ doctor.firstname }} {{ doctor.lastname }}
          </h1>
        
          <br>
              <div style="display:flex">
                  <div>
                    <label style="font-size: 30px; color: #3b227a">Username:</label<br>
              <input class="form-control" value="{{doctor.username}}" style="width: 250px; margin-top: 20px; color: #3b227a">
                </div>
                <div style="margin-left: 150px;">
                  <label style="font-size: 30px; color: #3b227a">FirstName:</label<br>
                   <input class="form-control" value="{{doctor.firstname}}" style="width: 250px; color: #3b227a; margin-top: 20px;">
                     </div>
               </div>
               <div style="display: flex; margin-top: 80px;">
                  <div>
                    <label style="font-size: 30px; color: #3b227a">LastName:</label<br>
                       <input class="form-control" value="{{doctor.lastname}}" style="width: 250px; color: #3b227a; margin-top: 20px;">
                         </div>
                         <div style="margin-left: 150px;">
                          <label style="font-size: 30px; color: #3b227a">Gender:</label<br>
                            <input class="form-control" value="{{doctor.gender}}" style="width: 250px; color: #3b227a; margin-top: 20px;">
                              </div>
               </div>
               <br>
               <image id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCCpFXrNga3HMV44II7X4kmz_SJ-le7JIFeB8qs4KRzVEqW1WJW4cPmCnrwSQFXJwLl8&usqp=CAU"></image>
            </div>
             </div>
            </div>
        </div>
        <div ng-show="showAppointmentsContent" style="margin-left: 50px; margin-right: 40px; border-radius: 10px;" >
          <br>
          <br>
          <table class="table" style="border: 1px solid  #3b227a; border-radius: 10px;">
            <thead>
              <tr>
                <th style="color: #3b227a" >Appointment ID</th>
                <th style="color: #3b227a" >FirstName</th>
                <th  style="color: #3b227a">LastName</th>
                <th style="color: #3b227a">Age</th>
                <th style="color: #3b227a">Date</th>
                <th style="color: #3b227a">time</th>
                <th style="color: #3b227a">Problem</th>
                <th style="color: #3b227a">Gender</th>
                <th style="color: #3b227a">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="appointment in appointments">
                <td style="color: #3b227a">{{ appointment.id }}</td>
                <td style="color: #3b227a">{{ appointment.firstname }}</td>
                <td style="color: #3b227a">{{ appointment.lastname }}</td>
                <td style="color: #3b227a">{{ appointment.age }}</td>
                <td style="color: #3b227a">{{ appointment.registerdate }}</td>
                <td style="color: #3b227a">{{ appointment.time }}</td>
                <td style="color: #3b227a">{{ appointment.problem }}</td>
                <td style="color: #3b227a">{{ appointment.gender }}</td>
                <td>
                  <button style="background-color: #3b227a;" type="button" class="btn btn-dark" ng-click="AcceptAppointment(appointment.id)">Accept</button>
                  <button style="background-color: #3b227a;"type="button" class="btn btn-dark" onclick="document.getElementById('id01').style.display='block'" ng-click="RejectAppointment(appointment.id)">Reject</button>
                  <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4" style="width:400px;">
                      <header class="modal-header"> 
                        <span onclick="document.getElementById('id01').style.display='none'" 
                        class="w3-button w3-display-topright">&times;</span> 
                      </header><br>
                    
                    
                      <div class="w3-container">
                        
                      <label style="color: #3b227a"><b>Reason for Rejection :</b></label><input style="width:300px" class="form-control" ng-model="appointments.reject" placeholder="Enter Reason"><br>
                      </div>
                      
                        <button style="background-color: #3b227a;" type="button"  ng-click="Send(appointment.id)()" style="margin-left: 150px;" class="btn btn-dark">Submit</button><br>
                      <br>
                    </div>
                  </div>
                  <button style="background-color: #3b227a;" type="button" class="btn btn-dark" onclick="document.getElementById('id02').style.display='block'" ng-click="editAppointment(appointment.id)">Edit</button>

                   
                  <div id="id02" class="w3-modal">
                    <div class="w3-modal-content w3-card-4" style="width:400px;">
                      <header class="modal-header"> 
                        <span onclick="document.getElementById('id02').style.display='none'" 
                        class="w3-button w3-display-topright">&times;</span> 
                      </header><br>
                    
                    
                      <div class="w3-container">
                        
                      <label style="color: #3b227a"><b>New Date :</b></label><input style="width:300px" class="form-control" ng-model="appointments.reject" placeholder="Enter Date"><br>
                      </div>
                      <div class="w3-container">
                        
                        <div style="display: flex;">
                          <div >
                            <label style="color: #3b227a"><b>New Date :</b></label>
                            <select
                            
                              ng-model="selectedTime"
                              ng-options="time.time for time in Times"
                            >
                              <option style="color: #3b227a" value="">Select an Appointment Time</option>
                            </select>
                          </div>
                        </div>
                        <br>
                      
                        <button style="background-color: #3b227a;" type="button"  ng-click="Sent(appointment.id)()" style="margin-left: 150px;" class="btn btn-dark">Submit</button><br>
                      <br>
                    </div>
                  </div>
                 </div>  
                    <button style="background-color: #3b227a;" type="button" onclick="document.getElementById('id03').style.display='block'" class="btn btn-dark" ng-click="Prescription(appointment.id)()">Prescription</button>
                  
                    <div id="id03" class="w3-modal">
                      <div class="w3-modal-content w3-card-4" style="width: 1100px;">
                        <header class="modal-header"> 
                          <span onclick="document.getElementById('id03').style.display='none'" 
                          class="w3-button w3-display-topright">&times;</span> 
                        </header><br>
                        <h3 style="margin-left: 30px; color: #3b227a"><b>Patient's Details</b></h3>
                          <div style="display: flex;">
                        <div style="margin-left: 30px;" ng-repeat="prescription in prescriptions">
                          <label style="color: #3b227a">Appointment ID:</label> <input style="width:300px;color: #3b227a" class="form-control"  value="{{prescription.id}}"  placeholder="Enter ID"><br>
                          <label style="color: #3b227a">FirstName:</label><input type="text" style="width:300px;color: #3b227a" class="form-control"  value="{{prescription.firstname}}"  placeholder="Enter Firstname"><br>
                          <label style="color: #3b227a">LastName:</label><input type="text" style="width:300px;color: #3b227a" class="form-control"  value="{{prescription.lastname}}"  placeholder="Enter LastName"><br>
                          <label style="color: #3b227a">Age:</label><input type="text" style="width:300px;color: #3b227a" class="form-control"  value="{{prescription.age}}"  placeholder="Enter Age"><br>
                          <label style="color: #3b227a">Gender:</label><input type="text" style="width:300px;color: #3b227a" class="form-control"  value="{{prescription.gender}}"  placeholder="Enter Gender">
                          </div>
                        <div class="w3-container">
                          <table>
                            <thead>
                                <tr>
                                    <th style="color: #3b227a">Medicine</th>
                                    <th style="color: #3b227a">Dose</th>
                                    <th style="color: #3b227a">Instructions</th>
                                    <th style="color: #3b227a">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="med in medicines">
                                    <td><input  style="width:200px;color: #3b227a" class="form-control" type="text" ng-model="med.name" /></td>
                                    <td><input style="width:200px;color: #3b227a" class="form-control"  type="text" ng-model="med.dose" /></td>
                                    <td><input style="width:200px;color: #3b227a" class="form-control"  type="text" ng-model="med.instructions" /></td>
                                    <td><button style="background-color: #3b227a;" class="btn btn-dark" ng-click="removeMedicine($index)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <button style="background-color: #3b227a;" class="btn btn-dark" ng-click="addMedicine()">Add Medicine</button>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button style="background-color: #3b227a; margin-left: -200px;" type="button" ng-click="Submit(appointment.id)()" class="btn btn-dark">Submit</button>
                        </div><br>
                      </div>
                    </div>
                  
                   
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          
<div ng-show="showPatientsContent" style="margin-left: 50px; margin-right:50px ;"> 
  <br>
  <br>
  <table class="table" style="border: 1px solid  #3b227a; border-radius: 10px;">
    <thead>
      <tr>
        <th style="color: #3b227a" >Username: </th>
        <th style="color: #3b227a">Firstname:</th>
        <th style="color: #3b227a">Lastname:</th>
        <th style="color: #3b227a">Gender:</th>
        <th style="color: #3b227a">Age:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in peopleData">
        <td style="color: #3b227a">{{ person.username }}</td>
        <td style="color: #3b227a">{{ person.firstname }}</td>
        <td style="color: #3b227a">{{ person.lastname }}</td>
        <td style="color: #3b227a">{{ person.gender }}</td>
        <td style="color: #3b227a">{{person.age}}</td>
      </tr>
    </tbody>
  </table>
</div>
      

 
</body>
</html>
