<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="./node_modules/sweetalert2/dist/sweetalert2.min.css"></script>
  <script src="hos.js"></script>
  <link
    rel="stylesheet"
    href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
  />
  <style>
    body {
      background-color: #6c63ff;
    }
    #info {
      height: 370px;
      width: 500px;
      margin-top: 110px;
      margin-left: 90px;
      border-radius: 30px;
      background-color: #6c63ff;
    }
  </style>
  <body>
    <div>
      <div style="background-color: white;display: flex; margin-top: 60px; margin-left: 80px; margin-right: 80px; border-radius: 25px;">
      <div id="info" style="margin-top: 60px; margin-bottom: 60px; border: 3px solid #3f3d56;">
        <br>
        <h3 style="text-align: center">Welcome Back</h3>
        <br />
        <form style="margin-left: 20px; margin-right: 20px">
          <div class="form-group">
            <h6 for="exampleInputUsername"><b>Username</b></h6>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              ng-model="user.username"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <h6 for="exampleInputPassword"><b>Password</b></h6>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              ng-model="user.password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
              required
            />
          </div>
          <br />
          <div style="margin-left: 195px">
            <button
              type="submit"
              class="btn btn"
              style="background-color: #3f3d56; color: white;"
              ng-click="loginD()"
            >
              Login
            </button>
          </div>
        </form>
        <br />
        <h6 style="margin-left: 90px; color: #3f3d56;">
          Are You a New Commer. Click here
          <a ui-sref="Dregister" style="color: #3f3d56"
            >Register</a
          >
        </h6>
      </div>

      <div style="margin-left: 100px; margin-top: 20px;">
        <image style="height: 300px; width: 400px; margin-top: 70px;"
          src="https://www.trusted-doctor.com/parts/assets/undraw_medicine_b1ol.svg"
        ></image>
      </div>
      <br>
      <br>
      </div>
      <br>
  </body>
</html>
