<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.css"></script>
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js">
        </script>
    <style>
      .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }

      .sidebar a {
        padding: 15px 25px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidebar a:hover {
        color: #f1f1f1;
      }

      #openSidebarBtn {
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        left: 20px;
        top: 20px;
      }

      #main {
        transition: margin-left 0.5s;
        padding: 16px;
      }
    </style>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div id="mySidebar" class="sidebar">
      <li ng-repeat="panel in panels">
         <i class=" {{panel.icon}}"></i>
        <a href="" ng-click="handleHeadingClick(panel.id)">{{panel.heading}}</a>
</li>
    </div>

    <div id="main">
      <span id="openSidebarBtn" ng-click="openSidebar()">&#9776;</span>
      <h1 style="text-align: center; margin-top: 30px">{{pageTitle}}</h1>
      <div ng-show="showDashboardContent">
       

        <div ng-repeat="user in users">
          <h1 style="margin-left: 100px; margin-top: 40px; font-size: 50px;">Welcome {{ user.firstname }} {{ user.lastname }}</h1><br><br>
          <div style="display: flex;">
          <div style="margin-left: 300px;">
          <label style="font-size: 30px;">FirstName:</label><input type="text" style="width:300px" class="form-control"  value="{{user.firstname}}"  placeholder="Enter Firstname"><br><br>
          <label style="font-size: 30px;">LastName:</label><input type="text" style="width:300px" class="form-control"  value="{{user.lastname}}"  placeholder="Enter LastName"><br><br>
          <label style="font-size: 30px;">Age:</label><input type="text" style="width:300px" class="form-control"  value="{{user.age}}"  placeholder="Enter LastName"><br>
          </div>
          <div style="margin-left: 120px;">
            <label style="font-size: 30px;">Username:</label><input type="text" style="width:300px" class="form-control"  value="{{user.username}}"  placeholder="Enter Firstname"><br><br>
            <label style="font-size: 30px;">Gender:</label><input type="text" style="width:300px" class="form-control"  value="{{user.gender}}"  placeholder="Enter LastName"><br><br>
            </div>
            </div>
        </div>
      </div>
    </div>
<div ng-show="showAppointmentsContent">
      <div style="display: flex; margin-top: 80px">
        <div class="form-group" style="margin-left: 100px">
          <label for="exampleInputmedicalissue">Medical Issue</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputmedicalissue"
            ng-model="medicalIssue"
            placeholder="Medical Issue"
          />
        </div>
        <div class="form-group" style="margin-left: 100px">
          <label for="exampleInputmedicalhistory">Medical History</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputmedicalhistory"
            ng-model="medicalHistory"
            placeholder="Medical history"
          />
        </div>
        <div class="form-group" style="margin-left: 100px">
          <label for="exampleInputdate">Date</label>
          <input
            placeholder="Year-Month-Date"
            class="form-control"
            id="exampleInputdate"
            ng-model="date"
            placeholder="Date"
          />
        </div>
      </div>

      <div style="display: flex; margin-top: 50px">
        <div style="margin-left: 100px">
          <label for="exampleInputtime">Time</label><br />
          <select
            ng-model="selectedTime"
            ng-options="time.time for time in Times"
          >
            <option value="">Select an Appointment Time</option>
          </select>
        </div>

        <div style="margin-left: 140px; margin-top: 30px">
          <label for="departmentDropdown">Select Department:</label>
          <select
            id="departmentDropdown"
            ng-model="selectedDepartment"
            ng-options="department.department for department in departments"
            ng-change="getDoctors()"
          >
            <option value="">Select Department</option>
          </select>

          <label for="doctorDropdown">Select Doctor:</label>
          <select id="doctorDropdown" ng-model="selectedDoctor">
            <option value="">Select Doctor</option>
            <option ng-repeat="doctor in doctors" value="{{ doctor.id }}">
              {{ doctor.firstname }}
            </option>
          </select>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-secondary"
        style="margin-left: 550px; margin-top: 80px"
        ng-click="bookAppointment()"
      >
        Book My Appointment
      </button>
    </div>
    <div ng-show="showPrescriptionsContent" >
      <div id="makepdf" style="border: 2px solid black; height: 560px; width: 600px; margin-left: 350px; margin-top: -20px;">
      <div><image style="height:100px;width:150px; margin-left: 220px;" src="https://imgs.search.brave.com/9bdsVssqE9slyLgHWFq7sm5cghzEQMXed_ApNj9eLLQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jbGlw/YXJ0LWxpYnJhcnku/Y29tL2ltYWdlcy9r/YzhvZGc4OWkuanBn"></image></div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th >Appointment: </th>
              <th >Medicine:</th>
              <th >Dose:</th>
              <th >Instruction:</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{ user.appointment }}</td>
              <td>{{ user.medicine_name }}</td>
              <td>{{ user.dosage}}</td>
              <td>{{ user.instruction }}</td>
            </tr>
          </tbody>
        </table>
        <div style="margin-top: 200px;"><b></b></div>
      </div>
      </div>
      <button id="button" style="margin-left: 590px; margin-top: 10px;" type="button" ng-click="download()" class="btn btn-dark">Downlaod</button>
    </div>
  </body>
</html>
